<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit Hero</h1>
    <form action="{% url 'superheros:edit' %}" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name" id="name" value=""><br />
        Alter Ego: <input type="text" name="alter_ego" id="alter_ego" value=""><br />
        Primary Ability: <input type="text" name="primary" id="primary" value=""><br />
        Secondary Ability: <input type="text" name="secondary" id="secondary" value=""><br />
        Catchphrase: <input type="text" name="catchphrase" id="catchphrase" value=""><br />
        <input type="submit" value="Edit">
    </form>
    
    
</body>
</html>